<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ceneo Web Scraper</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css"
    />
    <link
      href="{{url_for('static', filename='styles/product.css')}}"
      rel="stylesheet"
    />
    <script src="//code.jquery.com/jquery.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"
          ><i class="large material-icons">code</i>Ceneo Web Scraper</a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Strona główna</a></li>
          <li><a href="/extraction">Ekstrakcja opinii</a></li>
          <li><a href="/product-list">Lista produktów</a></li>
          <li><a href="/author">O autorze</a></li>
        </ul>
      </div>
    </nav>
    <div class="buttons_container">
      <button class="waves-effect waves-light btn download_json_button">
        <i class="material-icons left">file_download</i>Pobierz JSON
      </button>
      <button class="waves-effect waves-light btn statistics_button">
        <i class="material-icons left">show_chart</i>Statystyki
      </button>
    </div>
    <table id="opinions-table" class="display nowrap" style="width: 100%">
      <thead>
        <tr>
          <th>ID opinii</th>
          <th>Nazwa autora</th>
          <th>Czy poleca</th>
          <th>Liczba gwiazdek</th>
          <th>Potwierdzony zakup</th>
          <th>Data wystawienia opinii</th>
          <th>Data zakupu</th>
          <th>Ilość głosów na tak</th>
          <th>Ilość głosów na nie</th>
          <th>Treść opinii</th>
          <th>Zalety</th>
          <th>Wady</th>
        </tr>
      </thead>
      <tbody>
        {%for opinion in opinions.items()%}
        <tr>
          <td>{{ opinion[0] }}</td>
          <td>{{ opinion[1].authorName }}</td>
          <td>{{ opinion[1].recommended }}</td>
          <td>{{ opinion[1].postScoreCount }}</td>
          <td>{{ opinion[1].buyConfirmed }}</td>
          <td>{{ opinion[1].opinionDate }}</td>
          <td>{{ opinion[1].buyDate }}</td>
          <td>{{ opinion[1].yesVotes }}</td>
          <td>{{ opinion[1].noVotes }}</td>
          <td>{{ opinion[1].text }}</td>
          <td>
            {%for positive in opinion[1].positives%} &#10140; {{ positive }}
            {%endfor%}
          </td>
          <td>
            {%for negative in opinion[1].negatives%} &#10140; {{ negative }}
            {%endfor%}
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    <script>
      document
        .querySelector(".download_json_button")
        .addEventListener("click", () => {
          let opinionsJson = "{{ opinions }}";
          opinionsJson = opinionsJson
            .replace(/&#39;/gm, '"')
            .replace(/True/gm, "true")
            .replace(/False/gm, "false")
            .replace(/None/gm, "null")
            .replace(/\n/gm, "");
          const dataStr =
            "data:text/json;charset=utf-8," + encodeURIComponent(opinionsJson);
          const downloadAnchorNode = document.createElement("a");
          downloadAnchorNode.setAttribute("href", dataStr);
          downloadAnchorNode.setAttribute("download", "opinions.json");
          document.body.appendChild(downloadAnchorNode); // required for firefox
          downloadAnchorNode.click();
          downloadAnchorNode.remove();
        });

      document
        .querySelector(".statistics_button")
        .addEventListener("click", () => {
          window.location.href = "/product/{{productId}}/statistics";
        });
    </script>
    <script>
      $(document).ready(function () {
        $("#opinions-table").DataTable({
          scrollX: true,
        });
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"
    ></script>
  </body>
</html>
