html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
}
.row-centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.materialize-textarea {
  width: 400px !important;
}

.check-opinions-button {
  margin-left: 10px;
}

.error_notification {
  width: 100%;
  background-color: #e74c3c;
  padding: 12px 0;
  text-align: center;
  color: white;
  margin-top: 30px;
  display: none;
}
