.buttons_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.btn {
  outline: none !important;
}

.download_json_button {
  margin-right: 10px;
}

div.dataTables_wrapper {
  width: 90%;
  margin: 0 auto;
}
